.DS_STORE
bin/
include/
lib/

src/db.sqlite3

src/derivatives/db.sqlite3

src/derivatives/settings/local.py
src/derivatives/settings/__pycache__/
src/derivatives/settings/__pycache__
src/derivatives/settings/*
src/celerybeat-schedule.bak
src/celerybeat-schedule.dat
src/celerybeat-schedule.dir


src/cdncrawler/migrations
src/derivatives/__pycache__
src/derivatives/__pycache__/
static_root
static_root/